[submodule "deploy"]
	path = deploy
	url = git@github.com:phoebus-games/deploy.git
[submodule "gf"]
	path = gf
	url = git@github.com:phoebus-games/gf.git
[submodule "wallet"]
	path = wallet
	url = git@github.com:phoebus-games/wallet.git
[submodule "web"]
	path = web
	url = git@github.com:phoebus-games/web.git
[submodule "smoke"]
	path = smoke
	url = git@github.com:phoebus-games/smoke.git
[submodule "router"]
	path = router
	url = git@github.com:phoebus-games/router.git
