[submodule "deploy"]
	path = deploy
	url = git@github.com:phoebus-games/deploy.git
[submodule "games"]
	path = games
	url = git@github.com:phoebus-games/games.git
[submodule "roulette"]
	path = roulette
	url = git@github.com:phoebus-games/roulette.git
[submodule "classic-slot"]
	path = classic-slot
	url = git@github.com:phoebus-games/classic-slot.git
[submodule "wallet"]
	path = wallet
	url = git@github.com:phoebus-games/wallet.git
[submodule "web"]
	path = web
	url = git@github.com:phoebus-games/web.git
[submodule "smoke"]
	path = smoke
	url = git@github.com:phoebus-games/smoke.git
[submodule "router"]
	path = router
	url = git@github.com:phoebus-games/router.git
[submodule "phoebus-games.github.io"]
	path = phoebus-games.github.io
	url = git@github.com:phoebus-games/phoebus-games.github.io.git
[submodule "load-test"]
	path = load-test
	url = git@github.com:phoebus-games/load-test.git
